<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="myfirstapp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="myfirstapp.Perspective"
            id="myfirstapp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="myfirstapp.ui.MenuList"
            icon="src/img/brick.png"
            id="myfirstapp.menuList"
            name="功能菜单"
            restorable="true">
      </view>
      <view
            class="myfirstapp.ui.MainView"
            id="myfirstapp.mainView"
            name="主区域"
            restorable="true">
      </view>
      <view
            class="myfirstapp.ui.SingleFileCompare"
            icon="src/img/page.png"
            id="myfirstapp.singleFileCompare"
            name="单文件对比"
            restorable="true">
      </view>
      <view
            class="myfirstapp.ui.MultiFileCompare"
            icon="src/img/page_copy.png"
            id="myfirstapp.multiFileCompare"
            name="多文件对比"
            restorable="true">
      </view>
      <view
            class="myfirstapp.ui.CreatIndex"
            icon="src/img/outline.png"
            id="myfirstapp.creatIndex"
            name="创建索引"
            restorable="true">
      </view>
      <view
            class="myfirstapp.ui.Detail"
            icon="src/img/application_view_gallery.png"
            id="myfirstapp.detail"
            name="详细信息"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="myfirstapp.application"
            name="myfirstapp">
         <property
               name="appName"
               value="myfirstapp">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,560,880,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,540,880,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="myfirstapp.actionSet1"
            label="参数设置"
            visible="true">
         <menu
               icon="icons/alt_about.gif"
               id="myfirstapp.menu1"
               label="参数设置">
            <separator
                  name="myfirstapp.separator1">
            </separator>
         </menu>
         <action
               class="myfirstapp.action.PrameterSet"
               id="myfirstapp.action1"
               label="label"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
